<template name="addBeans">
  <form class="main form page">
    <div class="form-group">
      <label class="control-label" for="brewer_name">Brewer Name</label>
      <div class="controls">
        <input name="brewer" id="brewer" type="text" value="" placeholder="Enter name of brewer" class="form-control"></div>
    </div>
    <div class="form-group">
      <label class="control-label" for="roast_name">Roast Name</label>
      <div class="controls">
        <input name="roast" id="roast" type="text" value="" placeholder="Enter name of roast" class="form-control"></div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>
