<template name="pourItem">
  <div class="pour">
    <dl class="dl-horizontal">
      <div class="well">
        <dt><i class="material-icons">today</i>{{brewDate}}</dt>
        <dd><i class="material-icons tiny"></i>{{brew}} <i class="material-icons tiny">invert_colors</i>{{temperature}} <i class="material-icons tiny">new_releases</i>{{grind}} <i class="material-icons tiny">dialpad</i>{{beans}} <i class="material-icons tiny">grade</i>{{rating}} <i class="material-icons tiny">speaker_notes</i><a onClick="window.alert('{{notes}}')">Notes</a></dd>
      </div>
    </dl>
  </div>
</template>
