<template name="pourCup">
  <form class="main form page">
    <div class="form-group col-md-6">
      <label class="control-label" for="brew_date">Brew Date</label>
      <div class="controls input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        <input class="form-control" id="brew-datepicker" type="text" placeholder="Choose date of pour"/>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label class="control-label" for="time_taken">Time Taken</label>
      <div class="controls">
        <input name="time_taken" id="time_taken" type="text" value="" placeholder="Time taken" class="form-control timepicker"/>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label class="control-label" for="brew">Brew</label>
      <div class="controls">
        <select name="brew">
          <option value="v60">Hario V-60</option>
          <option value="frenchpress">French Press</option>
          <option value="chemex">Chemex</option>
        </select>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label class="control-label" for="temperature">Water Temperature</label>
      <div class="controls">
        <input name="temperature" id="url" type="text" value="" placeholder="Water temperature" class="form-control"/>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label class="control-label" for="beans">Coffee Beans</label>
      <div class="controls">
        <select id="beans" name="beans">
          {{#each beans}}
            <option selected value="{{brewer}}" name="{{brewer}}">{{brewer}}</option>
          {{/each}}
          <option value="add_new">Add new beans</option>
        </select>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label class="control-label" for="grind">Grind Setting</label>
      <div class="controls">
        <input id="grind" name="grind" value="" placeholder="Enter 1-10" type="number" min="1" max="10"/> 
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>
