<template name="pourItem">
  <div class="pour">
    <dl class="dl-horizontal">
      <div class="well">
        <dt><i class="glyphicon glyphicon-calendar"></i>{{brewDate}}</dt>
        <dd><i class="glyphicon glyphicon-filter"></i>{{brew}} <i class="glyphicon glyphicon-tint"></i>{{temperature}} <i class="glyphicon glyphicon-cog"></i>{{grind}} <i class="glyphicon glyphicon-th"></i>{{beans}} <i class="glyphicon glyphicon-star"></i>{{rating}} <i class="glyphicon glyphicon-paperclip"></i><a onClick="window.alert('{{notes}}')">Notes</a></dd>
      </div>
    </dl>
  </div>
</template>
